* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.main {
  width: 100%;
  height: 100vh;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  text-shadow: 2px 2px 2px #fab133;
  color: #9a0005;
  font-size: 34px;
  text-transform: capitalize;
  letter-spacing: 1.4px;
  margin: 30px;
  width: 100%;
  font-family: "Bangers", cursive;
  text-align: center;
  position: absolute;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: absolute;
  margin: 80px;
}

.search {
  margin: 10px;
  font-family: "Bangers", cursive;
  font-size: 14px;
  color: silver;
  width: 300px;
  height: 30px;
  text-align: left;
}

.button {
  font-family: "Bangers", cursive;
  font-size: 16px;
  color: #9a0005;
  background-color: #fab133;
  width: 60px;
  height: 30px;
  text-align: center;
  box-shadow: 4px 4px 10px white;
  cursor: pointer;
}

.reset {
  font-family: "Bangers", cursive;
  font-size: 16px;
  color: #9a0005;
  background-color: #fab133;
  width: 60px;
  height: 30px;
  text-align: center;
  margin: 10px;
  box-shadow: 4px 4px 10px white;
  cursor: pointer;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateY(130px);
}

.fav {
  font-family: "Bangers", cursive;
  font-size: 24px;
  color: #fab133;
  text-shadow: 2px 2px 2px #9a0005;
  margin: 15px;
  letter-spacing: 1.7px;
  text-align: center;
}

.results {
  font-family: "Bangers", cursive;
  font-size: 24px;
  color: #fab133;
  text-shadow: 2px 2px 2px #9a0005;
  letter-spacing: 1.7px;
  margin: 15px;
  text-align: center;
}

.title_anime {
  font-family: "Anton", sans-serif;
  font-size: 10px;
  text-align: justify;
  color: #fab133;
  text-shadow: 2px 2px 2px #9a0005;
  word-break: break-word;
}

.card__imgres {
  width: 60%;
  height: 100%;
}

.list_animes {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.list_animesfav {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.list2 {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.list1 {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.delete {
  font-family: "Anton", sans-serif;
  color: #fab133;
  font-size: 12px;
  background-color: #9a0005;
  width: 20px;
  height: 20px;
  border-radius: 40px;
  text-align: center;
  border: solid #fab133;
  margin: 0 15px 0 15px;
  cursor: pointer;
}

.card__imgfav {
  width: 60%;
  height: 100%;
  object-fit: contain;
  border: solid 4px #9a0005;
}
